<!-- Sidebar -->
<aside class="w-64 bg-white shadow-md h-screen sticky top-0">
    <div class="p-4">
        <!-- <div class="flex items-center space-x-4 mb-8">
            <div class="w-12 h-12 rounded-full bg-blue-100 flex items-center justify-center">
                <i class="fas fa-user text-blue-600 text-xl"></i>
            </div>
            <div>
                <h3 class="font-semibold">{{ fullName }}</h3>
                <p class="text-sm text-gray-500">Premium Member</p>
            </div>
        </div> -->
        <nav>
            <ul class="space-y-2">
                <li>
                    <a routerLink="/dashboard" class="flex items-center space-x-2 p-2 rounded-lg hover:bg-blue-50">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/profile" class="flex items-center space-x-2 p-2 rounded-lg hover:bg-blue-50">
                        <i class="fas fa-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/vehicle-registration" class="flex items-center space-x-2 p-2 rounded-lg hover:bg-blue-50">
                        <i class="fas fa-car"></i>
                        <span>Add Vehicle</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/maintenance-tracker" class="flex items-center space-x-2 p-2 rounded-lg hover:bg-blue-50">
                        <i class="fas fa-tools"></i>
                        <span>Maintenance</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/prediction" class="flex items-center space-x-2 p-2 rounded-lg hover:bg-blue-50">
                        <i class="fas fa-chart-line"></i>
                        <span>Predictions</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/reports" class="flex items-center space-x-2 p-2 rounded-lg hover:bg-blue-50">
                        <i class="fas fa-file-alt"></i>
                        <span>Reports</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/analytics" class="flex items-center space-x-2 p-2 rounded-lg hover:bg-blue-50">
                         <i class="fas fa-chart-pie"></i>
                        <span>Analytics</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
